# sed alias polyfills for os x and for linux
# see also: https://beta.wiki.yandex-team.ru/users/invntrm/zsh/#osxvslinux

# Sed with advanced reqex
alias SED="$([ $IS_OSX ] && echo 'sed -E' || echo 'sed -r')"

# Inplace sed with advanced reqex
alias SEDI="$([ $IS_OSX ] && echo "sed -E  -i '' -e" || echo "sed -ri")"

# GNU SED ON LINUX AND OS X
alias GSED="$(which gsed 2>/dev/null 1>&2 && echo 'gsed' || echo 'sed')"

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en1"
alias ips="ifconfig -a | grep -o 'inet6\? \(\([0-9]\+\.[0-9]\+\.[0-9]\+\.[0-9]\+\)\|[a-fA-F0-9:]\+\)' | sed -e 's/inet6* //'"

# macOS has no `md5sum`, so use `md5` as a fallback
command -v md5sum > /dev/null || alias md5sum="md5"

# macOS has no `sha1sum`, so use `shasum` as a fallback
command -v sha1sum > /dev/null || alias sha1sum="shasum"

# Trim new lines and copy to clipboard
alias c="tr -d '\n' | pbcopy"

# URL-encode strings
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"'

alias ll='ls -laFo'
alias l='ls -l'
alias la='ls -a'
alias ltr='ls -ltr'

alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"

# Always enable colored `grep` output
# Note: `GREP_OPTIONS="--color=auto"` is deprecated, hence the alias usage.
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# Editor
alias e=$EDITOR
alias es='vim -c"sy off"'


# Git
alias ga='git add'
alias gb='git branch -a'
alias gbd='git fetch -p && for branch in $(git branch -vv | grep ": gone]" | awk "{print $1}"); do git branch -D $branch; done'
alias gc='git commit -am'
alias gca='git commit --amend'
alias gd='git di'
alias gdc='git di --cached'
alias gds='git di --staged'
alias gf='git fetch --prune'
alias gh='git hist'
alias gl='git lol'
alias gm='git merge --no-ff'
alias gp='git pull --rebase'
alias gr='git remote -v'
alias gs='git st'
alias gt='git tag'
alias gst='git status -sb'
alias grd='git rb origin/dev'
alias grm='git rb origin/master'
alias diff-diff='git-diff-diff'
Alias g1='git log -1'
alias g9='git lol -9'

# Git bisect helpers
alias gb-bad='git bisect bad && npm run build'
alias gb-good='git bisect good && npm run build'

# Arc
alias aa='arc add'
alias ab='arc branch -a'
alias ac='arc commit -am'
alias aca='arc commit --amend'
alias ad='arc diff'
alias adc='arc diff --cached'
alias ads='arc diff --staged'
alias af='arc fetch --prune'
alias al='arc log --oneline'
alias ap='arc pull --rebase'
alias as='arc st'
alias at='arc tag'
alias ast='arc status -sb'
alias art='arc rebase trunk'
alias apf='arc push --force'

[ -f "`which ack`" ] || alias ack=ack-grep
alias gmt="git mergetool && find -type f -name '*.orig' -delete"
alias gse='vim $(git status --porcelain | sed -ne "s/^ M //p")' # git status: edit all changed files
[ -f "`which gmake`" ] && alias make=gmake

hub_path=`which hub`
[[ -f $hub_path ]] && alias git=$hub_path

alias apache-restart='sudo /usr/local/etc/rc.d/apache.sh restart'
alias apache-stop='sudo /usr/local/etc/rc.d/apache.sh stop'
alias apache-start='sudo /usr/local/etc/rc.d/apache.sh start'

alias mine='sudo chown -R $USER .'

# Tmux
alias tm="tmux -2 -S /tmp/tm-`whoami`"
alias tms="tm a -t"

# Tmux session alias for pair-programming
function tm-pair
{
    if [ ${2} ]; then
        tmux -2 -S /tmp/tm-${1} attach -t ${2}
    elif [ ${1} ]; then
        tmux -2 -S /tmp/tm-`whoami` new -s ${1}
    else
        echo 'Usage:'
        echo 'tm-pair feature_name # Create session'
        echo 'tm-pair user_name feature_name # Attach to session'
    fi
}
