export readonly IS_OSX=$([[ $(uname) = Darwin  ]] && echo True)
export readonly IS_BASH=$([ $BASH ] && echo True)
export readonly IS_ZSH=$([ $ZSH_NAME ] && echo True)
export readonly IS_OMZ=$([ -e ~/.oh-my-zsh  ] && echo True)
export readonly IS_OPENSTACK=$([ $(hostname | grep '\.serp\.yandex\.ru') ] && echo True)

export PATH=./node_modules/.bin:$PATH
export PATH=~/node_modules/.bin:$PATH
export PATH=/usr/local/share/npm/bin:$PATH
export PATH=~/bin:$PATH
export PATH=.bin:$PATH
export PATH=bin:$PATH
export PATH=~/dotfiles/bin:$PATH
export PATH=$HOME/.local/bin:$HOME/bin:$PATH
PATH="$HOME/arcadia:$PATH"

export NODE_PATH=./node_modules:$NODE_PATH

export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && . "$NVM_DIR/nvm.sh"  # This loads nvm

export LANG=en_US.UTF-8
export LC_ALL=en_US.UTF-8
export BLOCKSIZE=K      # FreeBSD only

# Make vim the default editor.
export EDITOR=vim

export PAGER=less
export CLICOLOR=yes; # git colors
export TERM=screen-256color

# Highlight section titles in manual pages.
# http://habrahabr.ru/post/153871/
export LESS_TERMCAP_mb=$MAGENTA
export LESS_TERMCAP_md=$ORANGE
export LESS_TERMCAP_me=$'\E[0m'
export LESS_TERMCAP_so=$'\E[42;30m'
export LESS_TERMCAP_se=$'\E[0m'
export LESS_TERMCAP_us=$'\E[32m'
export LESS_TERMCAP_ue=$'\E[0m'

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';

# Increase Bash history size. Allow 32³ entries; the default is 500.
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups
export HISTCONTROL=ignoreboth

# Make some commands not show up in history
export HISTIGNORE="ls:cd:cd -:pwd:exit:date:* --help:st:sup:gs:fg"

# fix sorting against underscores
export LC_COLLATE=C

# Hide the “default interactive shell is now zsh” warning on macOS.
export BASH_SILENCE_DEPRECATION_WARNING=1;
